<h1 style="display:block;background-color:grey;border-style:solid;border-color:black;border-width:2px;text-align:center;padding:15px;font-size:48px">Ladder Tracker</h1>
<p style="display:block;background-color:white;padding:12px;border-style:solid;border-width:2px;border-color:black;font-size:24px">Gathers and stores ladder information over the last 24 hours.</p>
<div style="display:block;background-color:white;padding:12px;border-style:solid;border-width:2px;border-color:black">
<h1>Log In/Register</h1>
<form method="POST" action="/">
	<p>Username: <input type="text" name="name" /></p>
	<p>Password: <input type="text" name="password" /></p>
	<p><input type="submit"/></p>
</form>
</div>